<main class="Register">
    <h1 class="Register-welcome">SIGNING UP</h1>
    <h3 class="Register-paragraph">Here you can sign up and start ordering!</h3>
    <form class="Register-form">
        <fieldset class="Register-form_box">
            <label for="name">Name</label>
            <input class="Register-form_box_input" type="text" id="register-name">
        </fieldset>
        <fieldset class="Register-form_box">
            <label for="email">Email</label>
            <input class="Register-form_box_input" type="text" id="register-email">
        </fieldset>
        <fieldset class="Register-form_box">
            <label for="password">Password</label>
            <input class="Register-form_box_input" type="password" id="register-password">
        </fieldset>
        <button
            id="register"
            type="button"
            class="Register-button"
            >REGISTER</button>
      <button 
            id="google" 
            type="button" 
            class="Google-auth_button"
            >LOGIN WITH GOOGLE</button>
    </form>
</main>
<script src="/scripts/register.js"></script>
<script src="/scripts/third.js"></script>

