<main class="Verify">
    <h1 class="Verify-welcome">DON'T STAY HOLLOW<br>VERIFY TO CONTINUE!</h1>
    <section class="Verification">
        <h2 class="Verify-advice">BEGIN EXPLORING COSMOS!</h2>
        <form class="Verify-form">
            <fieldset class="Verify-form_box">
                <label for="code">Insert Code</label>
                <input id="verify-code" required="true" class="Verify-form_box_input" type="text">
            </fieldset>
            <fieldset class="Verify-form_box">
                <label for="email">Insert Email</label>
                <input id="verify-email" required="true" class="Verify-form_box_input" type="text">
            </fieldset>
            <button
                id="verify"
                type="button"
                class="Verify-button"
            >SUBMIT</button>
        </form>
        <div class="Verify-container">
        <img src="https://www.fikrikadim.com/wp-content/uploads/2023/07/Ekran-Resmi-2023-07-10-17.02.47.png"
            alt="Hollow Account" 
            class="Verify-container_img">
        </div>
    </section>
</main>
<script src="/public/scripts/verify.js"></script>
